@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
.header {
  display: flex;
  position: fixed;
  background-color: rgb(247, 247, 247);
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  top: 0;
  height: 69px;
  z-index: 100;
}
.header .name-and-prof {
  margin-left: 50px;
}
.header .name-and-prof .name {
  font-size: 30px;
}
.header .name-and-prof .prof {
  font-size: 14px;
}
.header .Menu {
  display: flex;
  column-gap: 40px;
  width: 300px;
  list-style-type: none;
  font-size: 19.5px;
  margin-right: 10vw;
}
.header .Menu a {
  text-decoration: none;
  color: black;
}
.header .Menu li {
  position: relative;
}
.header .Menu li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.5s ease-out;
}
.header .Menu li:hover::after {
  width: 100%;
}
@media (max-width: 555px) {
  .header .name-and-prof {
    margin-left: 5px;
  }
  .header .Menu {
    column-gap: 20px;
    justify-content: center;
  }
}

#Home {
  height: calc(100vh - 79px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding-top: 79px;
}
#Home .info {
  width: 450px;
  transform: translateX(50px);
}
#Home .info :nth-child(1) {
  font-size: 85px;
  color: rgb(41, 41, 41);
  transform: translateY(10px);
}
#Home .info :nth-child(2) {
  font-size: 40px;
  color: #ff1818;
}
#Home .info :nth-child(3) {
  font-size: 17px;
  margin-top: 30px;
}
#Home .info .contact-me-btn {
  width: 130px;
  height: 45px;
  border-radius: 50px;
  border: none;
  background-color: #00A3FF;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 17px;
  margin-top: 50px;
  cursor: pointer;
  transition: background-color 0.5s;
}
#Home .info .contact-me-btn:hover {
  background-color: #47bcff;
}
@media (max-width: 960px) {
  #Home {
    justify-content: space-between;
  }
}
@media (max-width: 860px) {
  #Home {
    flex-direction: column;
    align-items: start;
  }
  #Home .info {
    max-width: 80vw;
  }
  #Home .info .contact-me-btn {
    margin-top: 10px;
  }
  #Home .info :nth-child(3) {
    margin-top: 0;
  }
}
#Home .images, #Home .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
#Home .images {
  flex-direction: column;
  transform: translateX(-50px);
}
#Home .images .icons p {
  font-size: 37px;
  color: white;
  opacity: 0.4;
}
#Home .images img {
  width: 90px;
  opacity: 0.7;
}
@media (max-width: 860px) {
  #Home .images {
    display: none;
  }
}

#Skills {
  min-height: calc(100vh - 79px);
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  align-items: center;
}
#Skills img {
  height: 60px;
  margin-top: 10px;
}
#Skills .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
  margin-top: 90px;
}
#Skills .boxes .box {
  width: 260px;
  height: 170px;
  background-color: rgb(78, 78, 78);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 12px;
  transition: transform 0.5s;
}
#Skills .boxes .box p {
  padding: 0 20px;
}
#Skills .boxes .box:hover {
  transform: scale(1.2);
}
#Skills .boxes .ui-ux .box-title {
  font-size: 30px;
  margin-top: 15px;
}
@media (max-width: 850px) {
  #Skills .boxes {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 563px) {
  #Skills .boxes {
    grid-template-columns: 1fr;
  }
}

#Projects {
  min-height: calc(100vh - 79px);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
#Projects .project {
  display: flex;
  column-gap: 50px;
  margin-top: 200px;
  align-items: center;
  height: 180px;
}
#Projects .project .title-image {
  display: flex;
  flex-direction: column;
}
#Projects .project .title-image img {
  width: 600px;
  height: auto;
}
#Projects .project .title-image .project-title {
  font-size: 25px;
}
#Projects .project .project-info {
  width: 500px;
  align-self: center;
}
#Projects .project .project-info .skills-used {
  font-weight: bold;
  margin-top: 20px;
}
#Projects .project .project-info .github {
  width: 35px;
  margin-top: 10px;
}
@media (max-width: 850px) {
  #Projects .project {
    flex-direction: column;
  }
  #Projects .project .project-info {
    width: 90vw;
  }
}
#Projects .see-more {
  cursor: pointer;
  margin-top: 40px;
}
#Projects .hide {
  cursor: pointer;
  margin-top: 40px;
  padding-bottom: 40px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.title {
  font-size: 45px;
  margin-top: 50px;
  text-align: center;
}

.text {
  font-size: 20px;
}

/*# sourceMappingURL=styles.css.map */
