.header{
    display: flex;
    position: fixed;
    background-color: $header-color;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    top: 0;
    height: 69px;
    z-index: 100;

    .name-and-prof{
        margin-left: 50px;
        .name{
            font-size: 30px;
        }
        .prof{
            font-size: 14px;
        }
    }

    .Menu{
        display: flex;
        column-gap: 40px;
        list-style-type: none;
        font-size: 19.5px;
        a{
            text-decoration: none;
            color: black;
        }
        li{
            cursor: pointer;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 1px;
                background-color: #000;
                transition: width 0.5s ease-out;
            }
            &:last-of-type{
                margin-right: 70px;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }   
    .burger-menu{
        width: 30px;
        display: none;
    }

  
}
@media (max-width:600px){
    
    
    .header{
        flex-direction: column;
        .initial-menu{
            width: 100%;
            height: 90%;
            justify-content: space-between;
            position: relative;
            .burger-menu{
                display: inline;
                position: absolute;
                right: 30px;
                top: 25%;
                transition: all .5s;
            }
            .rotate{
                transform: rotate(90deg);
            }
            .name-and-prof{
                margin-left: 15px;
            }
            
        }
        .Menu{
            display: none;
            column-gap: 20px;
            justify-content: center;
    
        }
        nav, .show{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            li{
                margin: 0 !important
            }
        }
        
    }
    .open{
        height: 120px;
    }
    
    
}