#Home{
    height: $sections-height;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $main-color;
    padding-top: 79px;

    .info{
        width: 70vw;
        max-width: 450px;
        transform: translateX(50px);
        :nth-child(1){
            font-size: 5rem;
            color: rgb(41, 41, 41);
            transform: translateY(10px);
        }
        :nth-child(2){
            font-size: 2.5rem;
            color: $red;
        }
        :nth-child(3){
            font-size: 1rem;
            margin-top: 30px;
        }
        .contact-me-btn{
            width: 130px;
            height: 45px;
            border-radius: 50px;
            border: none;
            background-color: $light-blue;
            font-family: 'Montserrat', sans-serif;
            color: white;
            font-size: 17px;
            margin-top: 50px;
            cursor: pointer;
            transition: background-color .5s;
        }
        .contact-me-btn:hover{
            background-color:#47bcff;
        }
        
    }

    @media(max-width: 860px){
        flex-direction: column;
        align-items: start;
        .info{
            .contact-me-btn{
                margin-top: 10px;
            }
            :nth-child(3){
                margin-top: 0;
            }
        }
        
    }
    
    .images, .icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
    .images{
        flex-direction: column;
        transform: translateX(-50px);
        .icons{
            p{
                font-size: 37px;
                opacity: .7 ;
            }
        }
        img{
            width: 90px;
            opacity: 0.7;
            transition: all .5s;
            &:hover{
                opacity: 1;
                transform: scale(1.2);
            }
        }

        @media(max-width: 860px){
            display: none;
        }
    }
}
@media(max-width: 500px){
    #Home{
        align-items: start;
        justify-content: center;
        .info{
            :nth-child(1){
                font-size: 3rem;

            }
            :nth-child(2){
                font-size: 2rem;

            }
            :nth-child(3){
                font-size: 1rem;

            }
            .contact-me-btn{
                font-size: 15px;
            }
        }
        }

}