$header-color: rgb(247, 247, 247);
$main-color: rgb(255, 255, 255);
$skills-color: rgb(255, 255, 255);
$projects-color: rgb(255, 255, 255);
$boxes-color: rgb(78, 78, 78);
$footer_color: rgb(91, 91, 255);

$section-title-font-size: 45px;
$sections-height: calc(100vh - 79px);

$red: #ff1818;
$light-blue: #00A3FF;