@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@import "./variables";

@import "./header";
@import "./home";
@import "./skills";
@import "./projects";
@import "./footer";


*{
    padding: 0;
    margin: 0;
    border: 0;
    
}

body{
    font-family: 'Montserrat', sans-serif;
}


.title{
    font-size: $section-title-font-size;
    margin-top: 50px;
    text-align: center;
}
.text{
    font-size: 20px;
}
